import("rJava")
export("post.blog", "process.blog.entry", "configure.blogR", "new.post", "new.media", "blogR")


configure.blogR(blogR.PATH="C:\\R\\blogR\\inst\\examples\\",
blogR.FILE="example.blog.entry.ascii.Rnw",
blogR.ARCHIVE=TRUE,
blogR.FORMAT="ascii",
blogR.URL="http://www.statalgo.com/",
blogR.PUBLISH=FALSE,
blogR.RSCRIPT=FALSE,
blogR.USERNAME="shane",
blogR.PASSWORD="day3light")